:root {
  --principal: #9b4efe;
  --principalOscuro: #5100bb91;
  --azuloscuro: #080a3c;
  --rosa: #f8cabe;
}
/* GENERALES */
body {
  background-color: rgba(128, 128, 128, 0.15) !important;
}
body .btn {
  font-weight: 600;
}


/* NAVBAR */
nav .navbar-collapse input {
  width: 30rem;
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
nav .navbar-collapse button:first-of-type {
  width: 3rem;
  border: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
nav .navbar-collapse button:first-of-type:hover {
  background-color: var(--principalOscuro) !important;
}
nav .navbar-collapse form button:nth-of-type(1) {
  background-color: white;
  color: var(--principal);
  white-space: nowrap;
}
nav .navbar-collapse form button:nth-of-type(1):hover {
  background-color: var(--principalOscuro);
  color: white;
}
nav .navbar-collapse button:last-of-type {
  background-color: transparent;
  color: white;
}
nav .navbar-collapse button:last-of-type:hover {
  background-color: var(--principalOscuro);
  color: white;
}
body nav {
  background-color: var(--principal);
}

/* CAROUSEL */
body main div .carousel {
  display: flex;
  justify-content: start;
  border-radius: 0.5rem;
}
body main div .carousel img {
  border-radius: 0.5rem;
}
body main div .carousel .carousel-indicators {
  display: flex;
  justify-content: start;
  align-items: center;
}
body main div .carousel .carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.616);
}
.carousel .carousel-indicators .active {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--principal) !important;
}
.carousel-control-next-icon {
  background-image: url("img/arrow-right.png") !important;
}
.carousel-control-next {
  width: 3rem !important;
  display: flex !important;
  justify-content: end !important;
}
.carousel-control-prev {
  width: 3rem !important;
  display: flex !important;
  justify-content: start !important;
}
.carousel-control-prev-icon {
  background-image: url("img/arrow-left.png") !important;
}
/* MARCAS */
main .marcas {
  background-color: rgba(128, 128, 128, 0.431);
  height: 11rem;
}
main .marcas img {
  max-width: 13rem;
}
@media (max-width: 1120px) {
  main .marcas {
    height: 6rem;
  }
  main .marcas img {
    max-width: 7rem;
  }
}
@media (max-width: 640px) {
  main .marcas {
    height: 3rem;
  }
  main .marcas img {
    max-width: 4rem;
  }
}
@media (max-width: 370px) {
  main .marcas {
    height: 2rem;
  }
  main .marcas img {
    max-width: 3rem;
  }
}

/* AUTOS */
main .card-autos .row div {
  max-width: 286px;
  padding: 0;
  transition: 0.3s ease;
  border-radius: 0.5rem;
}
main .card-autos .row div:hover {
  cursor: pointer;
  transform: scale(1.1);
}
main .card-autos h3 {
  text-transform: uppercase;
  text-align: center;
  color: gray;
  font-size: 1.5rem;
  margin: 4rem auto 0 auto;
  font-weight: 600;
  display: flex;
  justify-content: center;
}
@media (max-width: 1000px) {
  main .card-autos h3 {
    font-size: 1rem;
  }
}
main .card-autos h4 {
  text-transform: uppercase;
  color: gray;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
main .card-autos img {
  height: 170px;
}
